@using Fishbay.Core
@model Fishbay.Web.Models.DataModel
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    @{
        foreach (NewsItem item in Model.NewsItems)
        {
            <li>@Html.ActionLink(item.Title, "NewsItem", "News", new { id = item.Id }, null)</li>
        }
    }
</div>
